---
layout: default
title: Home
permalink: /
---

<div class="container">
  <h1>Welcome</h1>
  <div class="welcome fancy-container">
    <h3 class="welcome-heading">Thanks for visiting!</h3>
    <div class="welcome-body">
      <p>
        My name's Dan and I'm a web developer dedicated to beautiful and efficient software design. 
        I have a passion for learning, and am always striving to improve my craft. Currently I'm 
        studying React, Node.js, and Material UI.
      </p>
      <img class="ds-logo" src="/assets/img/ds-logo.svg" alt="">
      <!-- Random quote -->
      <h3 class="welcome-quote">"You must enable JavaScript to see random quotes." ―Site Creator</h3>
    </div>
  </div>
  {% if site.posts[0] %}
  <h2>Recent Blog Posts:</h2>
  <ul>
      {% for post in site.posts %}
      <li><a href="{{ post.url }}" class="post-preview">{{ post.title }}</a></li>
      {% endfor %}
  </ul>
  {% endif %}
  <h3>Check out these other pages:</h3>
  <ul>
    <li><a href="/portfolio">Portfolio</a> for information about my projects and experience.</li>
    <li><a href="/blog">Blog</a> where I share some thoughts and discoveries.</li>
    <li><a href="/about">About</a> to learn a little more about me.</li>
    <li><a href="/contact">Contact</a> if you'd like to get in touch.</li>
  </ul>
</div>