---
layout: default
title: Portfolio
permalink: /portfolio
---

<div class="container">
  <h1>Portfolio</h1>
  <div id="portfolio">
    <div class="pf-container pf-container-lg">
      <h3 class="pf-heading">Projects</h1>
      {% for project in site.data.projects %}
        <h4 class="pf-subheading">{{project.name}}</h4>
        <div class="pf-item">
        {% if project.url %}
          <a class="button" href={{project.url}} target="_blank">Link</a>
        {% endif %}
        {% if project.project-url %}
          <a class="button" href={{project.project-url}} target="_blank">Project Source</a>
        {% endif %}
          <p>{{project.desc}}</p>
          <div class="project-tech">
          {% for tech in project.tech %}
            <span class="badge">{{tech}}</span>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="pf-container pf-container-sm">
      <h3 class="pf-heading">Skills</h4>
        {% for item in site.data.skills %}
          <h4 class="pf-subheading">{{item.category}}</h4>
          <ul>
          {% for skill in item.skills %}
            <li class="skill">{{skill}}</li>
          {% endfor %}
          </ul>
        {% endfor %}
    </div>
    <div class="pf-container pf-container-md">
      <h3 class="pf-heading">Experience</h3>
        <h4 class="pf-subheading">Companies</h4>
        {% for company in site.data.experience.companies %}
          <div class="pf-item">
            <p class="pf-item-name">{{company.name}}</p>
            <p>{{company.position}}</p>
            <p><small>{{company.location}} | {{company.duration}}</small></p>
          </div>
        {% endfor %}
    </div>
    <div class="pf-container pf-container-md">
      <h3 class="pf-heading">Education</h3>
      <h4 class="pf-subheading">Schools</h4>
      {% for school in site.data.education.schools %}
        <div class="pf-item">
          <p class="pf-item-name">{{school.name}}</p>
          <p>{{school.subject}}</p>
          <p><small>{{school.location}} | {{school.duration}} ({{school.gpa}} gpa)</small></p>
          {% if school.graduation %}
            <p><small>Graduated {{school.graduation}}</small></p>
          {% endif %}
        </div>
      {% endfor %}
      <h4 class="pf-subheading">Certificates</h4>
      <ul class="pf-item">
      {% for cert in site.data.education.certificates %}
        <li>{{cert}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
