:root {
    --d-01: #161819;
    --d-02: #1D2429;
    --d-03: #2C3338;
    --d-04: #1C2C38;
    --d-05: #394853;
    --d-06: #889096;
    --d-07: #9DA3A9;
    --d-08: #889DAE;
    --d-09: #A8B7C3;
    --d-10: #D3D7DA;
    --c-01: #272522;
    --c-02: #40372B;
    --c-03: #564329;
    --c-04: #584F43;
    --c-05: #816E55;
}

// http://paletton.com/#uid=23x0u0k3V4WaYgf7Lb1ac80gJaQ
// http://paletton.com/#uid=13x0u0k18O17rzm4NFO2nx-35tf