html, body {
    color: #eee8d5;
    background-color: #0f4c75;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin: 0px 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}