* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--d-03);
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

main {
    flex-grow: 1;
    width: 100%;
    margin: 100px auto;
    font-size: 0.9rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--d-05);
    font-family: 'Raleway', sans-serif;
}

a {
    color: var(--c-03);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: var(--c-05);
}

ul, ol {
    list-style-position: inside;
    list-style-type: square;
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    margin: 4px 2px;
    padding: 2px 8px;
    color: var(--d-02);
    background-color: var(--d-08);
    border: 1px solid var(--d-02);
    border-radius: 2px;
    transition: 0.2s;
}

.button:hover {
    color: var(--d-02);
    background-color: var(--d-10);
    box-shadow: -3px 3px 0px var(--d-06);
    transform: translate(3px, -3px);
}

.button:active {
    background-color: var(--d-08);
}

.badge {
    display: inline-block;
    margin: 4px 2px;
    padding: 4px 8px;
    color: var(--d-04);
    background-color: var(--d-09);
    border-radius: 5px;
    font-size: 0.85rem;
}

// For screens 700px or greater
@media screen and (min-width: 700px) {
    main {
        width: 100%;
        margin: 100px auto;
        font-size: 1.0rem;
        line-height: 1.75;
    }
}