* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--d-10);
    background-color: var(--d-02);
    font-family: 'Open Sans', sans-serif;
}

main {
    flex-grow: 1;
    margin: 64px 10vw;
    font-size: 1.1rem;
    line-height: 1.75;
}

a {
    color: var(--c-05);
    text-decoration: none;
}

a:hover {
    color: var(--d-08);
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}
