:root {
    // spacing
    --navbar-height: 64px;

    // gradients
    --grad-dark: linear-gradient(90deg, var(--d-02), var(--d-05));
    --grad-light: linear-gradient(90deg, var(--d-11), var(--d-09));
}