.email-button {
    display: flex;
    margin: 20px;
}

.social-network-list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 20px;
}

.social-network-button {
    display: flex;
    background-color: $primary-mid;

    &:hover {
        background-color: lighten($primary-mid, 10%);
    }
}

.email-button-text,
.social-network-name {
    flex: 1;
    text-align: center;
    margin: auto;
    font-size: 1.1rem;
}

ion-icon.email-icon,
ion-icon.social-network-icon {
    padding: 5px;
    font-size: 48px;
    color: $primary-color;
}