.email-button {
    display: flex;
    margin: 20px;
}

.social-network-list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 20px;
}

.social-network-button {
    display: flex;
    background-color: var(--d-11);
}

.email-icon,
.social-network-icon {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.email-button-text,
.social-network-name {
    margin: auto;
    font-size: 1.1rem;
}