.welcome {
    margin-bottom: 30px;
}

.welcome-heading {
    border-bottom: 1px solid var(--d-08);
}

.welcome-body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}

.ds-logo {
    max-width: 200px;
    justify-self: center;
    grid-row: span 2;
    margin: 10px;
}

#welcome-quote {
    place-self: center;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    cursor: pointer;
    transition: 0.8s;
}

#welcome-quote:focus, #welcome-quote:hover {
    color: var(--h-blue);
}

@media screen and (min-width: 700px) {
    .welcome-body {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .ds-logo {
        max-width: 250px;
    }
}