#portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-auto-flow: row;
}

.pf-container {
    padding: 10px;
    background-color: var(--d-11);
    border: 1px solid var(--d-06);
    border-radius: 2px;
    transition: 0.2s;
}

.pf-container:hover {
    background-color: var(--d-02);
    box-shadow: -5px 5px 0px var(--d-06);
    transform: translate(5px, -5px);
    color: var(--d-10);
}

.pf-container:hover h3, .pf-container:hover h4 {
    color: var(--d-06);
}

.pf-heading {
    border-bottom: 1px solid var(--d-09);
}

.pf-subheading {
    padding: 5px;
}

.pf-container-sm, .pf-container-md, .pf-container-lg {
    grid-column: span 1;
    align-self: start;
}

.project-tech {
    padding: 10px 0px;
}

.pf-item {
    padding-left: 10px;
    padding-bottom: 10px;
}

.pf-item-name {
    font-weight: bold;
    text-decoration: underline;
}

// For screens 700px or greater
@media screen and (min-width: 700px) {
    #portfolio {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .pf-container-sm {
        grid-column: span 1;
        align-self: start;
    }
    
    .pf-container-md {
        grid-column: span 2;
        align-self: start;
    }
    
    .pf-container-lg {
        grid-column: span 3;
        align-self: start;
    }

}