.pf {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 20px;

    &-heading {
        border-bottom: 1px solid $primary-mid;
    }

    &-subheading {
        padding: 5px;
    }

    &-item {
        padding: 0 0 10px 10px;

        a {
            display: inline-flex;
            align-items: center;

            ion-icon {
                padding-right: 3px;
            }
        }
    }

    &-item-name {
        font-weight: bold;
        text-decoration: underline;
    }

    &-tech {
        padding: 10px 0px;
    }
}

#pf-websites .button-bar {
    margin: 12px 0 8px;

    ion-icon {
        margin-right: 10px;
    }
}

#footnote {
    font-size: 0.7rem;
}

// For screens 700px or greater
@media screen and (min-width: 700px) {
    .pf {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        justify-items: stretch;
    }

    #pf-projects {
        grid-column: span 3;
        grid-row: span 8;
    }

    #pf-skills {
        grid-column: span 1;
        grid-row: span 4;
    }

    #pf-websites {
        grid-column: span 1;
        grid-row: span 1;
    }

    #pf-education {
        grid-column: span 2;
        grid-row: span 3;
    }

    #pf-experience {
        grid-column: span 2;
        grid-row: span 3;
    }
}