.container {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
}

.fancy-container {
    padding: 10px;
    background: var(--grad-light);
    border: 1px solid var(--d-06);
    border-radius: 2px;
    transition: 0.2s;
}

.fancy-container:hover {
    background: var(--grad-dark);
    box-shadow: -5px 5px 0px var(--d-06);
    transform: translate(5px, -5px);
    color: var(--d-10);
}

.fancy-container:hover h3, .fancy-container:hover h4 {
    color: var(--h-yellow);
}

@media screen and (min-width: 700px) { 
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}