.container {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
}

.fancy-container {
    padding: 10px;
    background: $grad-light;
    border: 1px solid $primary-mid;
    border-radius: 2px;
    transition: 0.2s;

    &:hover {
        background: $grad-color;
        box-shadow: -5px 5px 0px $primary-mid;
        transform: translate(5px, -5px);
        color: $primary-light;

        h3, h4 {
            color: lighten($highlight-color, 0%);
        }
    }
}

@media screen and (min-width: 700px) { 
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}