footer {
    background: $grad-color;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.copyright {
    grid-column-start: 2;
    place-self: center;
    color: darken($primary-light, 30%);
    padding: 10px;
}

.terminal {
    grid-column-start: 3;
    place-self: center end;
}

.terminal ion-icon {
    display: flex;
    color: $primary-mid;
    transition: 0.4s;

    &:hover {
        color: $primary-dark;
    }
}