footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: $grad-color;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.copyright {
    grid-column-start: 2;
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 10px;
    color: darken($primary-light, 30%);
}

.terminal {
    grid-column-start: 3;
    justify-self: center;
    margin-left: auto;
    padding: 10px;
}

.terminal ion-icon {
    display: flex;
    color: $primary-mid;
    transition: 0.4s;

    &:hover {
        color: $primary-dark;
    }
}