.nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: var(--d-01);
    border-bottom: 6px solid var(--d-05);
    padding: 10px 20px;
    margin: 0;
}

.nav-link {
    padding: 0px 30px;
}

.brand {
    font-size: 1.3rem;
}

.active-page {
    color: var(--d-08);
    font-weight: bold;
}

nav a {
    color: var(--d-09);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: var(--d-10);
    // border: 1px solid var(--d-05);
    border-radius: 5px;
    background-color: var(--d-04);
}

.push {
    margin-left: auto;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}