<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans&family=Raleway:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>
    <header id="navbar">
      <nav class="navbar-container container">
        <a href="/" class="home-link">
          <div class="navbar-logo"></div>
          <div>dspence<span style="font-size:0.6em;">.net</span></div>
        </a>
        <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-item">
              <a class="navbar-link" href="/portfolio" {% if page.title == "Portfolio" %}class="navbar-link-active"{% endif %}>Portfolio</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/blog" {% if page.title == "Blog" %}class="navbar-link-active"{% endif %}>Blog</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/about" {% if page.title == "About" %}class="navbar-link-active"{% endif %}>About</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/contact" {% if page.title == "Contact" %}class="navbar-link-active"{% endif %}>Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="page-content">
        {{ content }}
    </main>
    <footer>
        <span id="copyright">Dan Spencer © {{ "now" | date:"%Y" }}</span>
    </footer>
    
    <script src="/assets/scripts/default.js"></script>
</body>
</html>