<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>
    <nav class="sticky">
        <ul class="nav-bar">
            <li class="nav-link brand">
                <a href="/" {% if page.title == "Home" %}class="active-page"{% endif %}>dspence.net</a>
            </li>
            <li class="nav-link push">
                <a href="/portfolio" {% if page.title == "Portfolio" %}class="active-page"{% endif %}>Portfolio</a>
            </li>
            <li class="nav-link">
                <a href="/blog" {% if page.title == "Blog" %}class="active-page"{% endif %}>Blog</a>
            </li>
            <li class="nav-link">
                <a href="/about" {% if page.title == "About" %}class="active-page"{% endif %}>About</a>
            </li>
            <li class="nav-link">
                <a href="/contact" {% if page.title == "Contact" %}class="active-page"{% endif %}>Contact</a>
            </li>
        </ul>
    </nav>
    <main class="page-content">
        {{ content }}
    </main>
    <footer>
        <span id="copyright">Dan Spencer © {{ "now" | date:"%Y" }}</span>
    </footer>
</body>
</html>